body{
    margin: 0;
    padding: 0;
    background: #fafafa;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
}

a{
    text-decoration: none;
}

.container{
    width: 935px;
    display: flex;
    margin: 30px auto 0;
}

.pitch{
    height: 650px;
}

.form{  
    text-align: center;
    width: 21.8125rem;
    margin-top: .9375rem;
    form{
        display: flex;
        flex-direction: column;
        border: 1px solid #dbdbdb;
        background-color: #ffffff;
        padding: 1.25rem 2.5rem;
        margin-bottom: .625rem;
        .logo{
            margin: 20px auto;
            width: 60%;
        }
        input{
            height: 36px;
            font-size: 14px;
            border-radius: 3px;
            color: #262626;
            width: 100%;
            box-sizing: border-box;
            border: .0625rem solid #dbdbdb;
            background-color: #fafafa;
            margin-bottom: 4px;
            padding: auto;
            
        }

        button{
            color: #ffffff;
            font-weight: bold;
            appearance: none;
            height: 1.875rem;
            border: none;
            border-radius: 4px;
            background-color: #0195F6;
            margin-top: 12px;
            &:disabled{
                background-color: #B2DFFC;
            }
        }
        .separator{
            font-size: 13px;
            color: #8E8E8E;
            text-transform: uppercase;
            font-weight: bold;
            margin: 1rem 0 1.625rem;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &::before,
            &::after{
                content: "";
                width: 106px;
                height: .0625rem;
                display: flex;
                background-color: #dbdbdb;
            }
        }

        .login-with-facebook{
            color: #385185;
            font-weight: bold;
            display: flex;
            align-items: center;
            margin: 0 auto 1.125rem;
        }

        .forgot-password{
            color: #00376b;
            font-size: .8125rem;
        }
    }

    .signup{
        border: 1px solid #dbdbdb;
        background-color: #ffffff;
        padding: 10px 40px;
        margin-bottom: 1.25rem;
        a{
            color: #0095f6;
            font-weight: bold;
        }
    }

    .get-app{
        p{
            font-size: .875rem;
        }

        img{
            width: 136px;
        }
    }
}

.footer{
    color: #8E8E8E;
    width: 1000px;        
    margin: 0 auto;
    text-align: center;
    padding: 20px;

    .copy{
        margin-bottom: .625rem;
        font-size: 12px;
    }

    a{
        color: #8E8E8E;
        font-size: .75rem;
        display: inline-block;
        margin: 0 .375rem .625rem;
    }    
}